name: CI/CD

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  foundry-cicd:
    uses: BreadchainCoop/etherform/.github/workflows/_foundry-cicd.yml@foundry-profile-input
    with:
      # CI Options
      check-formatting: true
      test-verbosity: 'vvv'

      # Upgrade Safety
      run-upgrade-safety: true
      baseline-path: 'upgrades/baseline'
      validation-script: 'script/upgrades/ValidateUpgrade.s.sol'

      # Automatic Deployments
      deploy-on-pr: false
      deploy-on-main: true
      deploy-script: 'script/DeployInfrastructure.s.sol:DeployInfrastructure'
      network-config-path: '.github/deploy-networks.json'
      indexing-wait: 90
      flatten-contracts: true
      upgrades-path: 'upgrades'
      deployment-foundry-profile: 'production'
    secrets:
      PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      RPC_URL: ${{ secrets.HOODI_RPC_URL }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
